In [1]:
import numpy as np
import pandas as pd

In [2]:
Test = pd.DataFrame(np.array([[-1, 0, 4], [-1, 0, 4], [-1, 0, 4]]))

In [3]:
a = Test.sub(Test.mean(axis=1), axis=0)
b = Test - Test.mean()
a # Subtracts row mean from rows

     0    1    2
0 -2.0 -1.0  3.0
1 -2.0 -1.0  3.0
2 -2.0 -1.0  3.0

In [4]:
b # Subtracts column mean from columns

     0    1    2
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0