# Final Project

In [1]:
import numpy as np
import pandas as pd 
import scipy as sci
import matplotlib as mp
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

from itertools import chain
from numpy import pi, cos, sin, exp, sqrt
from scipy.signal import freqz, welch, periodogram, butter, lfilter, filtfilt, boxcar
from textwrap import wrap
from matplotlib.dates import DateFormatter, MinuteLocator, HourLocator, MonthLocator

%matplotlib inline
%config InlineBackend.figure_format = 'pdf'

## Import and clean up the data

In [33]:
# Import data
AS = pd.read_csv('/Users/Kev/Documents/Uvic/Python/PHYS 411 - Time Series Analysis/Data Sets/AllStations_temperature_h_2017.dat', 
                 sep='\s+', header=1, usecols=[0,35])

DC = pd.read_csv('/Users/Kev/Documents/Uvic/Python/PHYS 411 - Time Series Analysis/Data Sets/DeepCove_temperature.dat', 
                 header=2)

DE = pd.read_csv('/Users/Kev/Documents/Uvic/Python/PHYS 411 - Time Series Analysis/Data Sets/DiscoveryElementary_temperature.dat', 
                 header=2)

HL = pd.read_csv('/Users/Kev/Documents/Uvic/Python/PHYS 411 - Time Series Analysis/Data Sets/Helgesen_temperature.dat', 
                 header=2)

JB = pd.read_csv('/Users/Kev/Documents/Uvic/Python/PHYS 411 - Time Series Analysis/Data Sets/JamesBay_temperature.dat', 
                 header=2)

JM = pd.read_csv('/Users/Kev/Documents/Uvic/Python/PHYS 411 - Time Series Analysis/Data Sets/JohnMuir_temperature.dat', 
                 header=2)

KT = pd.read_csv('/Users/Kev/Documents/Uvic/Python/PHYS 411 - Time Series Analysis/Data Sets/Keating_temperature.dat', 
                 header=2)

US = pd.read_csv('/Users/Kev/Documents/Uvic/Python/PHYS 411 - Time Series Analysis/Data Sets/UVicSci_temperature.dat', 
                 header=2)

### Clean up the All Stations data

In [10]:
# Convert times from MatLab time to Python Time
AS['Time'] = AS['NaN'].apply(lambda matlab_datenum: 
                             dt.datetime.fromordinal(int(matlab_datenum)) 
                             + dt.timedelta(days=matlab_datenum%1)
                             - dt.timedelta(days = 366)) 

# Rename the columns
AS2 = AS.rename(index=str, 
                columns={"NaN": "MatLab Time", "48.4623": "Temperature"})

# Reorder columns 
cols = AS2.columns.tolist()
cols = cols[-1:] + cols[:-1]
AS3 = AS2[cols]

# Set time as index column
DatAS = AS3.set_index('Time')

### Clean up the minute resolution data

In [27]:
# Generate dates
date = pd.date_range(start='2011-12-31 17:00:00.000000', 
                     end='2017-08-30 16:59:00.000000', 
                     freq='min')

def DateInsert(Data):
    D2 = Data
    # Insert dates into D2 dataframe
    D2.insert(loc=0, column='Time', value=date)
    # Rename the columns
    D22 = D2.rename(index=str, columns={"2979360": "Temperature"})
    # Set index
    DM = D22.set_index('Time')
    return DM

In [28]:
DataM = [DC, DE, HL, JB, JM, KT, US]

In [29]:
DataMIns = [DateInsert(DataM[i]) for i in range(0, len(DataM))]

ValueError: Length of values does not match length of index

In [34]:
DataM[0]

                       Time  2979360
0       2011-12-31 17:00:00     4.44
1       2011-12-31 17:01:00     4.40
2       2011-12-31 17:02:00     4.39
3       2011-12-31 17:03:00     4.39
4       2011-12-31 17:04:00     4.33
5       2011-12-31 17:05:00     4.33
6       2011-12-31 17:06:00     4.33
7       2011-12-31 17:07:00     4.30
8       2011-12-31 17:08:00     4.28
9       2011-12-31 17:09:00     4.28
10      2011-12-31 17:10:00     4.28
11      2011-12-31 17:11:00     4.27
12      2011-12-31 17:12:00     4.23
13      2011-12-31 17:13:00     4.22
14      2011-12-31 17:14:00     4.22
15      2011-12-31 17:15:00     4.22
16      2011-12-31 17:16:00     4.22
17      2011-12-31 17:17:00     4.22
18      2011-12-31 17:18:00     4.22
19      2011-12-31 17:19:00     4.19
20      2011-12-31 17:20:00     4.21
21      2011-12-31 17:21:00     4.18
22      2011-12-31 17:22:00     4.17
23      2011-12-31 17:23:00     4.17
24      2011-12-31 17:24:00     4.17
25      2011-12-31 17:25:00     4.17
26      2011-12-31 17:26:00     4.17
27      2011-12-31 17:27:00     4.17
28      2011-12-31 17:28:00     4.14
29      2011-12-31 17:29:00     4.11
...                     ...      ...
2979330 2017-08-30 16:30:00    19.89
2979331 2017-08-30 16:31:00    19.89
2979332 2017-08-30 16:32:00    19.91
2979333 2017-08-30 16:33:00    19.95
2979334 2017-08-30 16:34:00    20.01
2979335 2017-08-30 16:35:00    20.07
2979336 2017-08-30 16:36:00    20.14
2979337 2017-08-30 16:37:00    20.23
2979338 2017-08-30 16:38:00    20.28
2979339 2017-08-30 16:39:00    20.28
2979340 2017-08-30 16:40:00    20.33
2979341 2017-08-30 16:41:00    20.32
2979342 2017-08-30 16:42:00    20.33
2979343 2017-08-30 16:43:00    20.33
2979344 2017-08-30 16:44:00    20.38
2979345 2017-08-30 16:45:00    20.43
2979346 2017-08-30 16:46:00    20.47
2979347 2017-08-30 16:47:00    20.53
2979348 2017-08-30 16:48:00    20.58
2979349 2017-08-30 16:49:00    20.63
2979350 2017-08-30 16:50:00    20.67
2979351 2017-08-30 16:51:00    20.72
2979352 2017-08-30 16:52:00    20.72
2979353 2017-08-30 16:53:00    20.72
2979354 2017-08-30 16:54:00    20.72
2979355 2017-08-30 16:55:00    20.67
2979356 2017-08-30 16:56:00    20.64
2979357 2017-08-30 16:57:00    20.61
2979358 2017-08-30 16:58:00    20.56
2979359 2017-08-30 16:59:00    20.56

[2979360 rows x 2 columns]